cbor2==5.2.0
Deprecated==1.2.10
luma.core==2.1.0
luma.led-matrix==1.5.0
Pillow==8.0.1
pkg-resources==0.0.0
pyftdi==0.52.0
pyserial==3.5
pyusb==1.1.0
rpi-ws281x==4.2.5
RPi.GPIO==0.7.0
six==1.15.0
smbus2==0.3.0
spidev==3.5
websocket-client==0.57.0
wrapt==1.12.1
ws2812==1.0.0
